.divider {
    margin-top: 32px;

    &:before {
        z-index: 1;
    }
}

.dividerTitle {
   h2 {
       background: transparent;
   }
}

.form {
    width: 100%;
    margin-top: 16px;
}

.kafsWrapper {
    padding: 10px;
    max-height: 250px;
    overflow-y: auto;
}
