@use "sass:meta";
@use 'reset';

@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200..900&display=swap');
@import "primereact/resources/themes/viva-light/theme.css";

@include meta.load-css('variables/globals');
@include meta.load-css('themes/normal');

.app,
.app_modal,
.app_drawer {
    color: var(--primary-color);
    font: var(--font-m);
}

.app {
    background: var(--bg-color);
    min-height: 100vh;
    overflow-x: hidden;
}

.page {
    display: flex;
}

*::-webkit-scrollbar {
    width: 10px;
    height: 15px;
}

*::-webkit-scrollbar-track {
    background: var(--card-bg);
}

*::-webkit-scrollbar-thumb {
    border: 2px solid var(--inverted-bg-color);
    border-radius: 10px;
    background-color: var(--bg-color);
}
