li {
    list-style-type: none;
}

body, h1, h2, h3, h4, h5, h6, li, ul, button, textarea, p {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.p-accordion-header-link,
.p-accordion-header-text,
.p-accordion.p-component {
    width: 100%;
}
