.ScheduleDayCard {
    padding: 5px 25px 25px 25px;
    border: 2px solid #000;
    border-radius: 15px;
    background: var(--listox-bg);
}

.title {
    font-weight: bold;
    color: white !important;
    align-self: center;
}

.discTitle {
    font-size: 10px;
    align-self: center;
    text-align: center;
}

.exam {
    background: #ff4747;
    padding: 7px 10px;
    border-radius: 8px;

    * {
        color: white;
    }
}

.clickable {
    cursor: pointer;
}
