.ScheduleDayCard {
    padding: 20px 30px;
    border: 2px solid #000;
    border-radius: 15px;
    background: var(--card-bg);
}

.title {
    font-weight: bold;
    align-self: center;
}

.discTitle {
    font-size: 16px;
    align-self: center;
    text-align: center;
}

.exam {
    background: #ff4747;
    padding: 7px 10px;
    border-radius: 8px;

    * {
        color: white;
    }
}
