:root {
    --bg-color: #f3f8fc;
    --inverted-bg-color: #aefbeb ;

    // текст
    --primary-color: #6fd978;
    --inverted-primary-color: #049604;

    // вторичный цвет
    --secondary-color: #0449e0;
    --inverted-secondary-color: #04ff04;

    // skeleton
    --skeleton-shadow: #6fd978;
    --skeleton-color: #6fd978;

    // card
    --card-bg: #8ca3c2;
    --listox-bg: #8ca3c2;
}
