:root {
    --bg-color: linear-gradient(135deg,rgba(255, 249, 231, 1) 0%, rgba(199, 213, 227, 1) 50%);
    --inverted-bg-color: #0A2C5C ;

    // текст
    --primary-color: #000;
    --inverted-primary-color: #383838;

    // вторичный цвет
    --secondary-color: #0449e0;
    --inverted-secondary-color: #04ff04;

    // skeleton
    --skeleton-shadow: #6fd978;
    --skeleton-color: #6fd978;

    // card
    --card-bg: #0A2C5C;
    --listox-bg: rgba(10, 44, 92, 0.66)
}
