:root {
    --bg-color: #f3f8fc;
    --inverted-bg-color: #BAE3FF ;

    // текст
    --primary-color: #000;
    --inverted-primary-color: #a1a1a1;

    // вторичный цвет
    --secondary-color: #0449e0;
    --inverted-secondary-color: #BAE3FF;

    // skeleton
    --skeleton-shadow: #BAE3FF;
    --skeleton-color: #BAE3FF;

    // card
    --card-bg: #8ca3c2;
    --listox-bg: #8ca3c2;
}
